
<div class="content position-relative">
  <div class="push mt-5"></div>
  <div class="container p-5 mb-5 page rounded-lg">
    <legend>Food and Fluids record </legend>
    <div id="reset">
      <table class="table table-striped table-hover" role="table" id="tablePreview">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">Date</th>
            <th role="columnheader">Time</th>
            <th role="columnheader">Food Item</th>
            <th role="columnheader">Amount Taken</th>
            <th role="columnheader">Time Taken</th>
            <th role="columnheader">Role</th>
          </tr>
        </thead>
        <tbody class="food" id="tableToModify">
          <tr role="row" id="rowToClone">
            <td role="cell">
              <input class="foodrecord form-control form-control-sm" type="date" placeholder="yyyy/mm/dd" min="1990-01-01" max="2040-12-31"/>
            </td>
            <td role="cell">
              <input class="foodrecord form-control form-control-sm" type="time" placeholder="hh:mm"/>
            </td>
            <td role="cell">
              <input class="foodrecord form-control form-control-sm" type="text" placeholder="Enter Food Item here"/>
            </td>
            <td role="cell">
              <select class="foodrecord form-control-sm" id="amountTaken">
                <option disabled="" selected="" value=""> select</option>
                <option value="None">None</option>
                <option value="Quarter">Quarter</option>
                <option value="Half">Half</option>
                <option value="Three quarter">Three quarter</option>
                <option value="Full">Full</option>
              </select>
            </td>
            <td role="cell">
              <select class="foodrecord form-control-sm" id="timeTaken">
                <option disabled="" selected="" value=""> select</option>
                <option value="00:00">00:00</option>
                <option value="00:15">00:15</option>
                <option value="00:30">00:30</option>
                <option value="00:45">00:45</option>
                <option value="01:00">01:00</option>
                <option value="01:15">01:15</option>
                <option value="01:30">01:30</option>
                <option value="01:45">01:45</option>
                <option value="02:00">02:00</option>
              </select>
            </td>
            <td role="cell">
              <input class="foodrecord form-control form-control-sm" type="text" name="role" value="PCA"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div><a class="btn btn btn-sm btn-primary mr-2" href="patientrecord.html"> Back</a><a class="btn btn btn-sm btn-primary mr-2" onclick="pdf()"> Print PDF</a>
    <!--a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries-->
    <!--a#submit.btn.btn.btn-sm.btn-primary Submit Entries-->
    <!--input(type='button', onclick='tableToJson()', value='Submit Entries')-->
    <input class="btn btn btn-sm btn-primary mr-2" type="button" onclick="addRow()" value="Add Row"/>
  </div>
</div>