
<!--h1= title-->
<!--p= prev_link-->
<!--p= next_link-->
<form class="form-horizontal"> 
  <fieldset>
    <!-- Form Name-->
    <legend>Form Select</legend>
    <!-- Select Basic-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="resident_name">Select resident </label>  
      <div class="col-md-4">
        <select class="form-control" id="resident_name" name="resident_name">
          <option value="1">Adnaan Kirkpatrick</option>      
          <option value="2">Elli East</option>      
          <option value="">Riaan Gibbons</option>      
          <option value="">Junior Ahmad</option>      
          <option value="">Laylah Rasmussen</option>      
          <option value="">Aishah Goodman</option>      
          <option value="">Olivia-Mae Barrera</option>      
          <option value="">Gracey Deacon</option>      
          <option value="">Rehaan Elliott</option>      
          <option value="">Rayyan Blankenship</option>      
          <option value="">Kendrick Dalby</option>      
          <option value="">Rocky Erickson</option>      
          <option value="">Mehmet Pace</option>      
          <option value="">Manisha Mathis</option>      
          <option value="">Mahi Luna</option>      
          <option value="">Don Singh</option>      
          <option value="">Paddy Ross</option>      
          <option value="">Meredith Hubbard</option>      
          <option value="">Alexander Zuniga</option>      
          <option value="">Kimberly Pittman</option>
        </select>
      </div>
    </div>
    <!-- Select Basic-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="chart_type">Select a chart</label>  
      <div class="col-md-5">
        <select class="form-control" id="chart_type" name="chart_type">
          <option value="1">Food intake chart</option>      
          <option value="2">Fluid intake chart</option>      
          <option value="3">Continence</option>      
          <option value="4">Sleep Chart</option>      
          <option value="5">Bowel Chart</option>      
          <option value="6">Abbey Pain Scale</option>
        </select>
      </div>
    </div>
  </fieldset>
</form><a class="btn btn-primary" href="#">Continue                      </a>