body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box
}

.container {
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    padding: 0 1em 0 0;
}

.logo {
    display: flex;
    background-image: url(../images/logo.png);
    /* background-size: cover; */
    height: 5em;
    width: 20em;
}

.go-back {
    padding: 5px;
    background: #d9143e;
    border: 8px solid #d9143e;
    color: #ffffff;
    border-radius: 2em;
    display: flex;
    align-self: center;
    margin-left: auto;
    text-decoration: none;
}

.go-back:before {
    content: "\25C0";
    padding: 0 .2em;
}

.option-data {
position: center;
}

.top-menu {
    background: #081f3c;
    color: white;

}

.top-menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.top-menu ul li {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em;
}

.details {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 8em;
    margin-top: 0.1%;
}

.sub-menu {
    background: #4ca4a0;
    color: white;
    width: 20em;
    padding: 5px;


}
.sub-menu-right {
    background: #4ca4a0;
    color: white;
    width: 20em;
    padding: 5px;
    margin-left: 500px;

}

.sub-menu ul {
    list-style: none;
    padding: 0;
}

.sub-menu ul li {
    padding: 1em;
}
.sub-menu h2 {
    padding: .9em;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    position:center;
    width:100%;
    height:100%;
    margin-left: 30%;margin-top: 10%;

  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
