// Header
.row.p-2.mb-5.ml-0.mr-0.header.position-absolute.w-100 
  .container 
    img.logo(src='img/logo_white.png' alt="Bagwan Aged Care Facility")
    a.text-white.float-right.mt-3(href='login.html')  Logout
