doctype html.no-js(lang='en-au')
head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='RMITs Vocational Education Design Team')
    meta(name='description', content='A training resource for teaching digital literacy in health care delivery')
    meta(name='keywords', content='Aged Care, Digital Literacy')
    meta(charset='UTF-8')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(type="text/plain" rel="author" href="/humans.txt")
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='theme-color', content='#ffffff')
    title Bagwan Aged Care Facility
    | &#x9;      
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/all.css')
    link(rel='stylesheet', type='text/css', href='css/sumoselect.min.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')

  
    
