head
  script.
   if(sessionStorage.getItem('authState')=== null){
     window.location.href= "login.html"
   } else exit()

.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    
    form.form-horizontal
        fieldset
            // Form Name
            legend Urinary continence
    //a.btn.btn-sm.btn-primary(href='continence.html')  Urinary record
    //- /a.btn.btn-sm.btn-primary(href='#')  Bowel chart

    table(role='table')#tablePreview.table.table-striped.table-hover
      thead(role='rowgroup')
        tr(role='row')
          th.w-10(role='columnheader') Time
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='This column is already filled with times, you don’t have input anything. Just go to the time you want to record information on and work across from them')
          th.w-30(role='columnheader') Date
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Select the large triangle to open the calendar and use today’s date.')
          th.w-30(role='columnheader') Date
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Select the large triangle to open the calendar and use today’s date.')
          th.w-30(role='columnheader') Date
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Select the large triangle to open the calendar and use today’s date.')
      tbody.continence(role='rowgroup')#tableToModify
        tr(role='row')
          td(role='cell')
          td(role='cell')
            input.contrecord.form-control-sm.form-control(type='date', placeholder='dd/mm/yyyy'
            ,min="1990-01-01", max="2040-12-31")

          td(role='cell')
            input.contrecord.form-control-sm.form-control(type='date', placeholder='dd/mm/yyyy'
            ,min="1990-01-01", max="2040-12-31")

          td(role='cell')
            input.contrecord.form-control-sm.form-control(type='date', placeholder='dd/mm/yyyy'
            ,min="1990-01-01", max="2040-12-31")
        .highlight
          tr(role='row')#rowToClone
          td(role='cell')
            input#continTime.contrecord.form-control-sm.form-control(type='text',value="00:00",disabled)
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr(role='row')
          td(role='cell')
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="01:00",disabled)
            
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td(role='cell')
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.form-control.contrecord.form-control-sm(type='text',value="02:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.form-control.contrecord.form-control-sm(type='text',value="03:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.form-control.contrecord.form-control-sm(type='text',value="04:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="05:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="06:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="07:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="08:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="09:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="10:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="11:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="12:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="13:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="14:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="15:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="16:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="17:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="18:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="19:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="20:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="21:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="22:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          tr
          td
            input#continTime.contrecord.form-control.form-control-sm(type='text',value="23:00",disabled)
            
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')
          td
            select.col-9.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='')  select
                option(value='1') 1 Incontinent of urine
                option(value='2') 2 Pad change for incontinence of urine  
                option(value='3') 3 Pad has increased wetness
                option(value='4') 4 Passed urine
                option(value='4b') 4b Dry
                option(value='c') 4c Resident continent
            textarea.float-right.col-2.contrecord.form-control.form-control-sm(name='story',placeholder='ID',rows=1,cols='16')

    a.btn.btn-sm.btn-primary.mr-3(href='patientrecord.html')
          i.fas.fa-arrow-left   
          |  Back
    //- i.fas.fa-question-circle.btn-sm.pb-3( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Return to the Patient record menu.')
    a.btn.btn-sm.btn-primary(onclick='checkInputCont()')  Download to PDF
    i.fas.fa-question-circle.btn-sm.pb-3( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Prints the information you have recorded into a PDF document')
    //-a.btn.btn-sm.btn-primary(onclick='cont()')  Submit Entries
    //-input.btn.btn-sm.btn-primary.mr-2(type='button', onclick='cont()', value='Submit Entries')
    //-input.btn.btn-sm.btn-primary.mr-2(type='button', onclick='addMoreRow()', value='Add Row')
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Error Message
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Please enter all the fields correctly
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
