//- //h1= title
//- //p= prev_link
//- //p= next_link

//- h1 Welcome to Scottish Thistle Aged Care Facility
//- a.btn.btn-primary(href="login.html") Continue to login  
.row.p-2.mb-5.ml-0.mr-0.header.position-absolute.w-100 
  .container 
    img.logo(src='img/logo_white.png' alt="Bagwan Aged Care Facility")
.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg 

    legend Please select to proceed

    a.btn.btn-primary(href='login.html')  Student
    br
    br
    a.btn.btn-primary(href='staff.html')  Teacher
