head 
  script.
   if(sessionStorage.getItem('authState')=== null){
     window.location.href= "login.html"
   } else exit()
   
.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    
    #error-message 
    legend Personal care
    
     table(role='table')#tablePreview.table.table-striped.table-hover
      thead(role='rowgroup')
        tr(role='row')
          th(role='columnheader') Date
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Select the large triangle to open the calendar and use today’s date.')
          th(role='columnheader') Time  
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Enter the hours or minutes input (HH:MM) ')
          th(role='columnheader') ADL
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Check the Activities of Daily Living performed')
          th(role='columnheader') Comments
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Include any additional information or changes to the care plan')
          th(role='columnheader') Role
            i.fas.fa-question-circle.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='This uses your login details to fill automatically ')
      tbody.personal(role='rowgroup')#tableToModify
        tr(role='row')#rowToClone
          td(role='cell')
            input.dtPicker.personalcare.form-control.form-control-sm(type='date', placeholder='dd/mm/yyyy',min="1990-01-01", max="2040-12-31")
          td(role='cell')
            input#time.personalcare.form-control.form-control-sm(type='text',pattern="\d{1,2}:\d{1,2}",maxlength="5", name='time' placeholder='HH:MM',min='00:00',max='23:00',required="required")
          td(role='cell')
            select.testselect2.personalcare.form-control.form-control-sm.SlectBox(multiple='multiple', data-live-search='true',name='test[]')
                option(value='Shower') Shower
                option(value='Wash') Wash
                option(value='Hair washed') Hair washed
                option(value='Oral care') Oral care
                option(value='Shave') Shave
                option(value='Fingernails') Fingernails
                option(value='Toenails') Toenails
                option(value='Trolley bath') Trolley bath
                option(value='Moisturizer') Moisturiser

          td(role='cell')
            textarea.personalcare.form-control(name='story',rows="3",cols='33')

          td(role='cell')
            input.personalcare.form-control.form-control-sm(type='text',name='role' value='PCA',disabled)

    //- i.fas.fa-question-circle.btn-sm.pb-3(  data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='go back to the Patient document page')
    a.btn.btn-sm.btn-primary.mr-3(href='patientrecord.html')
       i.fas.fa-arrow-left   
       |  Back
    a.btn.btn.btn-sm.btn-primary(onclick='checkInputPC()') Download to PDF
    i.fas.fa-question-circle.btn-sm.pb-3.mr-3(  data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Prints the information you recorded into a document')
    
    //a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries
    //- input(type='button', onclick='tableToJson()', value='Submit Entries')
    a.btn.btn.btn-sm.btn-primary(onclick='addRows()') Add row
    i.fas.fa-question-circle.btn-sm.pb-3( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Creates another row to record activities you performed at another time')

#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='errorModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Error Message
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Please enter all the fields correctly
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close

#rowModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='rowAlertModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#rowModalLabel.modal-title Error message
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Row limit exceeded
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close