//h1= title
//p= prev_link
//p= next_link

form.form-horizontal  
    fieldset
        // Form Name
        legend Form Select
        // Select Basic
        .form-group
            label.col-md-4.control-label(for='resident_name') Select resident 
            |   
            .col-md-4
                select#resident_name.form-control(name='resident_name')
                    option(value='1') Adnaan Kirkpatrick
                    |       
                    option(value='2') Elli East
                    |       
                    option(value='') Riaan Gibbons
                    |       
                    option(value='') Junior Ahmad
                    |       
                    option(value='') Laylah Rasmussen
                    |       
                    option(value='') Aishah Goodman
                    |       
                    option(value='') Olivia-Mae Barrera
                    |       
                    option(value='') Gracey Deacon
                    |       
                    option(value='') Rehaan Elliott
                    |       
                    option(value='') Rayyan Blankenship
                    |       
                    option(value='') Kendrick Dalby
                    |       
                    option(value='') Rocky Erickson
                    |       
                    option(value='') Mehmet Pace
                    |       
                    option(value='') Manisha Mathis
                    |       
                    option(value='') Mahi Luna
                    |       
                    option(value='') Don Singh
                    |       
                    option(value='') Paddy Ross
                    |       
                    option(value='') Meredith Hubbard
                    |       
                    option(value='') Alexander Zuniga
                    |       
                    option(value='') Kimberly Pittman
        // Select Basic
        .form-group
            label.col-md-4.control-label(for='chart_type') Select a chart
            |   
            .col-md-5
                select#chart_type.form-control(name='chart_type')
                    option(value='1') Food intake chart
                    |       
                    option(value='2') Fluid intake chart
                    |       
                    option(value='3') Continence
                    |       
                    option(value='4') Sleep Chart
                    |       
                    option(value='5') Bowel Chart
                    |       
                    option(value='6') Abbey Pain Scale
a.btn.btn-primary(href="#") Continue                      
