.row.p-2.mb-5.ml-0.mr-0.header.position-absolute.w-100 
   .container 
      img.logo(src='img/logo_white.png' alt="Bagwan Aged Care Facility")
.content
   .push.mt-5
   .col-12
   .container.p-5.mb-5.page.rounded-lg
      h1 Teacher resources
      ul
         li 
            a(href="/downloads/aged-care-teacher-guide.pdf") Digital Literacy in Aged Care - Teacher's guide
         li 
            a(href="/downloads/blank-learning-activity-form.docx") Blank learning activity form
         li 
            a(href="/downloads/blank-session-plan-form.docx") Blank session plan form
         li 
            a(href="/downloads/powerpoint.pptx") Powerpoint    
      a.btn.btn-sm.btn-primary(href='index.html')
         i.fas.fa-arrow-left  
         |  Back